@use 'variables' as *;

@mixin border{
    width: 60px;
    margin: 0 0 5px 0;
    border-bottom: $bordercolor solid 5px;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    font: inherit;
}
.font-basic {
    font-family: 'Kanit', sans-serif;
    color: $black
}
h1 {
    @extend .font-basic;
    font-size: 2em;
}
h2 {
    @extend .font-basic;
    font-size: 1.5em;
    margin-top: 20px;
}
h3 {
    @extend .font-basic;
    font-size: .9em;
}
p {
    @extend .font-basic;
    font-size: .8em;
}

.profiletext {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $gray;
    font-size: 1em;
}
.bluetext{
    margin-top: 10px;
    color: $blue;
}
ul li::before {
    color: $licircle;
}
li{
    color: $gray;

}
.border {
    @include border;
}
.orange {
    color: $orange;
}
body {
    padding-top: 50px;
    width: 100%;
    // position: fixed;
    background-color: $maincolor;
    background: radial-gradient(circle, rgba(245,235,190,1) 34%, rgba(238,243,227,1) 100%);

    // background-color: rgb(155, 217, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .box {
        width: 80%; 
        height: 700px;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        top: 50px;
        position: fixed;
        display: flex;
        overflow: auto;

        #leftSection {
            position: fixed;
            display: flex;
            align-items: center;
        }
    }
  }
.radial {
    size: 20px;
    background: radial-gradient(circle, rgba(245,235,190,1) 34%, rgba(238,243,227,1) 100%);
    position: relative;
    left: 300px;
}
  img {
    width: 600px;
    height: 700px;
  }
  .leftText {
    position: absolute;
    left: 20px;
    top: 350px;
  }
  .rightsection {
    margin-left: 600px;
    height: 1000px;
    padding: 50px 50px;
    // position: relative  ;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;

      
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }